<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>HERE IS YOUR POST</h1>
            <div class="post">
            <h3>@<%= post.id %></h3>
            <h3>@<%= post.username %></h3>
            <h5><%= post.content %></h5>
        </div>
</body>
</html>